### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*


### Include some references only ###
References/*
!References/Fundamental/
!References/State _Action_Reward_Survey/


### Don't include logs
Scripts/Simple_cross/cross_RL/logs
Scripts/Simple_cross/cross_RL_bigger_influence_area/logs
Scripts/Simple_cross/cross_RL_miquel


### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
