### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*


### Don't include references, MoMs, Networks_maps, Data ###
References/*
MoM/*
Networks_maps/*


### Don't include logs
Scripts/logs
Scripts/old
Scripts/Experiment_results



### Don't include MOMs


### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
